In [1]:
# Player Count
import pandas as pd

In [2]:
# Load in file
csvpath = "../Resources/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data1.csv"

In [4]:
# Read and display the CSV with Pandas
purchase_data_df = pd.read_csv(csvpath)
purchase_data_df.head(16)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89

In [5]:
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [6]:
# Player Count
array_unique_player_count = purchase_data_df["SN"].unique()
unique_player_count = len(array_unique_player_count)
unique_player_count

576

In [7]:
list_unique_player_count = list(array_unique_player_count)
list_unique_player_count1 = list_unique_player_count
list_unique_player_count

['Lisim78',
 'Lisovynya38',
 'Ithergue48',
 'Chamassasya86',
 'Iskosia90',
 'Yalae81',
 'Itheria73',
 'Iskjaskst81',
 'Undjask33',
 'Chanosian48',
 'Inguron55',
 'Haisrisuir60',
 'Saelaephos52',
 'Assjaskan73',
 'Saesrideu94',
 'Lisassa64',
 'Lisirra25',
 'Zontibe81',
 'Reunasu60',
 'Chamalo71',
 'Iathenudil29',
 'Phiarithdeu40',
 'Siarithria38',
 'Eyrian71',
 'Siala43',
 'Lisirra87',
 'Lirtossa84',
 'Eusri44',
 'Aela59',
 'Tyida79',
 'Idai61',
 'Farusrian86',
 'Aeralria27',
 'Haillyrgue51',
 'Sondim73',
 'Jeyciman68',
 'Idaisuir85',
 'Seuthep89',
 'Reulae52',
 'Sondilsaya62',
 'Aerithriaphos45',
 'Assosia88',
 'Aidaillodeu39',
 'Aelly27',
 'Tyeosri53',
 'Haerith37',
 'Yasrisu92',
 'Chanuchi25',
 'Asur96',
 'Iaralrgue74',
 'Chanosia34',
 'Aelin32',
 'Ilosianya35',
 'Zhisrisu83',
 'Phaelap26',
 'Raesty92',
 'Palyon91',
 'Tyisur83',
 'Yaliru88',
 'Yadanu52',
 'Jiskimya77',
 'Yadaphos40',
 'Alo38',
 'Phaena87',
 'Chamirraya83',
 'Chanastsda67',
 'Indonmol95',
 'Jiskossa61',
 'Pheodai94',
 'Hari50',
 'Marilsa69',
 'Assistasda42',
 'Lisosia93',
 'Philodil43',
 'Mindadaran26',
 'Lirtosia63',
 'Assjaskan56',
 'Irithlis29',
 'Heudai45',
 'Haerithp41',
 'Aina42',
 'Jiskjask60',
 'Umolrian85',
 'Qarirwen82',
 'Laedallo55',
 'Eoralrap26',
 'Undosian34',
 'Chadolyla44',
 'Chadistaya75',
 'Yathedeu43',
 'Aina43',
 'Ilassast39',
 'Lisassala98',
 'Aiduecal76',
 'Chadossa89',
 'Pheodaisun84',
 'Heollyriap59',
 'Maropast28',
 'Frichim77',
 'Thryallym62',
 'Eulanurin88',
 'Lassjaskan73',
 'Tyaerith73',
 'Sondadarya58',
 'Hirirap39',
 'Ririp86',
 'Sundim98',
 'Iskichinya81',
 'Phyali88',
 'Undirrala66',
 'Nitherian58',
 'Lassilsala30',
 'Frichaststa61',
 'Frichosia58',
 'Ilosia37',
 'Lisista27',
 'Seudaillorap38',
 'Aesty53',
 'Yathecal82',
 'Lisossanya98',
 'Iral74',
 'Lisast87',
 'Maridisya31',
 'Jiskassa76',
 'Ethriel85',
 'Iskirra45',
 'Iri67',
 'Rarallo90',
 'Lisasi93',
 'Adastirin33',
 'Eyista89',
 'Ili43',
 'Chamirra53',
 'Hailaphos89',
 'Iskadarya95',
 'Qilatista90',
 'Inasti31',
 'Marilsanya48',
 'Marjask87',
 'Chanjaskan89',
 'Hyaduesu61',
 'Aillyrin83',
 'Marast30',
 'Sundadar27',
 'Tyaelorap29',
 'Lirtimst73',
 'Styaduen40',
 'Sidap51',
 'Chanastst38',
 'Lirtassa52',
 'Sondim68',
 'Aeral97',
 'Heosurnuru52',
 'Lisopela58',
 'Caesrinusuir82',
 'Tyirinu79',
 'Fironon91',
 'Lassjask63',
 'Indcil77',
 'Chamimla73',
 'Syathe73',
 'Baelollodeu94',
 'Mindista32',
 'Saena74',
 'Marirrasta50',
 'Lamil79',
 'Aenarap34',
 'Aisur51',
 'Thrientossa55',
 'Chadista79',
 'Tyeurith29',
 'Malunil62',
 'Hiasri33',
 'Lisadar44',
 'Frichjask31',
 'Lisjaskya84',
 'Ristydru66',
 'Frichast28',
 'Minduri31',
 'Maradaran90',
 'Mindetosya30',
 'Ialallo29',
 'Pheusrical25',
 'Chanosia60',
 'Phistym51',
 'Aelollo59',
 'Chamimla85',
 'Haisurra41',
 'Sondastsda82',
 'Qilanrion65',
 'Eulasuir89',
 'Eosrirgue62',
 'Shaidanu32',
 'Lirtastan49',
 'Iaralsuir44',
 'Tyeudariasuir90',
 'Cosadar58',
 'Aelastirin39',
 'Aidai53',
 'Jiskjask85',
 'Ealrion88',
 'Chamjask73',
 'Tyaenasti87',
 'Alim85',
 'Haeladil46',
 'Jiskirran77',
 'Undosia27',
 'Peorith44',
 'Yarithsurgue62',
 'Taeduenu92',
 'Rairin89',
 'Aerithriaphos46',
 'Idairin51',
 'Lisista54',
 'Eodailis27',
 'Lirtastsda29',
 'Undilsan50',
 'Eodaisu60',
 'Quaranmol58',
 'Lirtossa60',
 'Lirtilsa71',
 'Isursuir31',
 'Sundirrala66',
 'Saerallora71',
 'Iasur80',
 'Tyaelo67',
 'Quanunwen42',
 'Yasur35',
 'Assehoan67',
 'Haellysu29',
 'Saida58',
 'Chamadar79',
 'Aeral43',
 'Lirtirra37',
 'Tyidaim51',
 'Lassassast73',
 'Assassasta79',
 'Heollyra92',
 'Anallorgue57',
 'Aerithllora36',
 'Smaistysu35',
 'Ennalmol65',
 'Yarithrgue83',
 'Yana46',
 'Sondimla25',
 'Aidai61',
 'Wailin72',
 'Firan91',
 'Alaesu91',
 'Aellynun67',
 'Rilaera56',
 'Eulaestira36',
 'Marim28',
 'Idastidru52',
 'Ilirrasda54',
 'Alaephos75',
 'Syalollorap93',
 'Minduli80',
 'Chanastya70',
 'Frichadaran88',
 'Siallylis44',
 'Aeri84',
 'Iasursti71',
 'Mindilsa34',
 'Chamastya76',
 'Undirra73',
 'Aestysu37',
 'Chadadarla74',
 'Strithenu87',
 'Iasrira89',
 'Ialidru40',
 'Tyalaesu89',
 'Tyidainu31',
 'Lirtilsa72',
 'Undjaskla97',
 'Saedaiphos46',
 'Aerithnucal56',
 'Lisossa46',
 'Layjask75',
 'Lisista63',
 'Ceoral34',
 'Hilaerin92',
 'Chadilsasta32',
 'Undassa89',
 'Iduenu77',
 'Lisosia66',
 'Undimsya85',
 'Phaedue89',
 'Yadacal26',
 'Lisossa25',
 'Ilmol66',
 'Yastyriaphos75',
 'Hiasurria41',
 'Palatyon26',
 'Qilalista41',
 'Hada39',
 'Chamilsala65',
 'Rairith81',
 'Ilarin91',
 'Ryanara76',
 'Undista85',
 'Tyeoralru41',
 'Pheosrinudeu70',
 'Heuli25',
 'Pheutherin27',
 'Chadirra90',
 'Ali84',
 'Frichjaskan98',
 'Malil90',
 'Yarithllodeu72',
 'Tyaedainu44',
 'Ethron58',
 'Eusurdeu49',
 'Saistyphos30',
 'Saisrilis27',
 'Hallysucal81',
 'Ilimya66',
 'Raysistast71',
 'Haedairiadru51',
 'Tyananurgue44',
 'Risty84',
 'Aerillorin70',
 'Phistyn52',
 'Yalo85',
 'Chamirrasya33',
 'Hiral75',
 'Isursti83',
 'Bartassaya73',
 'Aeda94',
 'Quinarap53',
 'Asur53',
 'Alarap40',
 'Sida61',
 'Hiarideu73',
 'Lassassasda30',
 'Ennoncil86',
 'Siralsudeu54',
 'Eusri26',
 'Ardcil81',
 'Marilsasya33',
 'Lirtim36',
 'Heunadil74',
 'Frichadar89',
 'Aesurstilis64',
 'Idaidil28',
 'Lisotesta51',
 'Lisico81',
 'Lisiriya82',
 'Siana77',
 'Marokian45',
 'Sausosia74',
 'Assesi91',
 'Eusri70',
 'Aisurria69',
 'Iarilis73',
 'Raisty38',
 'Ilista82',
 'Leyirra83',
 'Aiduesu86',
 'Frichynde86',
 'Hisridru55',
 'Chamossa77',
 'Irillo49',
 'Lirtastsya71',
 'Frichosiala98',
 'Qilunan34',
 'Quarrion42',
 'Aisurdru79',
 'Hiaral50',
 'Iarallo65',
 'Sondassasya91',
 'Chanossast57',
 'Chanjask65',
 'Ethralista69',
 'Sondistanya61',
 'Eudanu32',
 'Euthe35',
 'Lassimla92',
 'Lisossala30',
 'Eulae84',
 'Chamadarnya73',
 'Eolan54',
 'Assistasda90',
 'Ennrian78',
 'Undirrasta89',
 'Rianistast50',
 'Undare39',
 'Adairialis76',
 'Aesur96',
 'Tyialisudeu65',
 'Arirgue63',
 'Sundadarla27',
 'Eyircil84',
 'Ina92',
 'Lirtistanya48',
 'Marassa62',
 'Mindossa76',
 'Salilis27',
 'Sondossa69',
 'Sundjask71',
 'Errian63',
 'Eurithphos97',
 'Raillydeu47',
 'Malon70',
 'Jiskimsda56',
 'Marughi89',
 'Ingatcil75',
 'Chanirrasta87',
 'Alaesu77',
 'Ermol76',
 'Tyeuduen32',
 'Firon67',
 'Iadueria43',
 'Pheulidil31',
 'Eodairu79',
 'Frichocesta66',
 'Thourdirra92',
 'Chanastnya43',
 'Iskim96',
 'Eulolis41',
 'Sastydeu50',
 'Ilaesudil92',
 'Yasur85',
 'Aidain51',
 'Aerithnuphos61',
 'Yalostiphos68',
 'Meosridil82',
 'Aillyriadru65',
 'Sally64',
 'Lisim51',
 'Isurria36',
 'Silaera56',
 'Leetirraya83',
 'Lirtirra81',
 'Eryon48',
 'Iana95',
 'Sondassan80',
 'Chanadar44',
 'Eosurdru76',
 'Shidai42',
 'Aesri53',
 'Syally44',
 'Jiskadarst60',
 'Sondadar26',
 'Malarrian73',
 'Maluncil97',
 'Ilunyon70',
 'Yadam35',
 'Dyally87',
 'Pheosurllorin41',
 'Frichaya88',
 'Lassadarsda57',
 'Marynde90',
 'Isri34',
 'Assastnya25',
 'Ardonmol96',
 'Lassirrasda85',
 'Chadossa56',
 'Poshilsa82',
 'Yoishirrala98',
 'Sundista37',
 'Ilassa51',
 'Filurarn35',
 'Phaestycal84',
 'Irilis75',
 'Aeralstical35',
 'Chanirrala39',
 'Chanirra79',
 'Assirra56',
 'Seolollo93',
 'Iathem87',
 'Iasurriacal29',
 'Lisast98',
 'Filrion59',
 'Halaecal66',
 'Iskosian40',
 'Ilastilis78',
 'Seosrim97',
 'Farrian71',
 'Rithe53',
 'Frichossala54',
 'Chamjaskya75',
 'Quanrion96',
 'Tyaelaelis94',
 'Quanenrian83',
 'Chanirra64',
 'Yadaisuir65',
 'Syathecal44',
 'Arin32',
 'Aelaria33',
 'Assassa81',
 'Filrion83',
 'Eoral49',
 'Airi27',
 'Eurisuru25',
 'Liawista80',
 'Lisirra58',
 'Chamadarsda63',
 'Haestyphos66',
 'Phaedasurap84',
 'Mindimnya67',
 'Chadjask85',
 'Eustyria89',
 'Iskim66',
 'Chamast86',
 'Lirtassan78',
 'Ethrasyon38',
 'Quilassa66',
 'Lisassasda39',
 'Mindilsa60',
 'Lalossa38',
 'Chamistast30',
 'Hariphos58',
 'Assilsan72',
 'Inasuir29',
 'Chanilsasda38',
 'Mindesi74',
 'Ililsan66',
 'Idacal95',
 'Aeral68',
 'Tyarithn67',
 'Asty82',
 'Yalaeria91',
 'Chadjask77',
 'Ealiril69',
 'Quaecjask96',
 'Firatan58',
 'Yarolwen77',
 'Tyaelistidru84',
 'Yarithrin84',
 'Tyaelly53',
 'Phiristi62',
 'Ililsasya43',
 'Aithelis62',
 'Undotesta33',
 'Aelidru27',
 'Chanossanya44',
 'Maradarnya40',
 'Lisilsa62',
 'Saena89',
 'Chanilsast61',
 'Sundassa93',
 'Aidai73',
 'Indirrian56',
 'Lisassasta50',
 'Iduelis31',
 'Chanosiaya39',
 'Assylla81',
 'Aidaira26',
 'Eudanu84',
 'Chamiman85',
 'Tyialisti80',
 'Marundi65',
 'Eusur90',
 'Mindirranya33',
 'Phiallylis33',
 'Isty55',
 'Frichilsa31',
 'Chanista95',
 'Aellyria80',
 'Rastynusuir31',
 'Iljask75',
 'Lisjaskan36',
 'Mindjasksya61',
 'Frichirranya75',
 'Ilast79',
 'Eratiel90',
 'Assim27',
 'Irith83',
 'Ilosian36',
 'Iskossasda43',
 'Hala31',
 'Jiskjask80',
 'Aethedru70',
 'Yathecal72',
 'Sisur91']

In [8]:
Player_Count_df = pd.DataFrame({
    "Number of Unique Players": [unique_player_count],
})
Player_Count_df

   Number of Unique Players
0                       576

In [9]:
# Number of Unique Items
array_item_id_unique = purchase_data_df["Item ID"].unique()
unique_item_count = len(array_item_id_unique)
unique_item_count

183

In [10]:
# Average Purchase Price
array_average_item_price = purchase_data_df["Price"].unique()
average_item_price = (sum(array_average_item_price) / len(array_average_item_price))
average_item_price

3.032206896551724

In [11]:
# Total Number of Purchases
total_number_purchases = purchase_data_df["Purchase ID"].count()
total_number_purchases

780

In [12]:
# Total Revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [13]:
# Purchasing Analysis (Total) output

unique_item_count = str(unique_item_count)
average_item_price = "$" + str(format(average_item_price, "4.2f"))
total_number_purchases = str(total_number_purchases)
total_revenue = "$" + str(format(total_revenue, "4.2f"))

print(unique_item_count)
print(average_item_price)
print(total_number_purchases)
print(total_revenue)

183
$3.03
780
$2379.77

In [14]:
Purchasing_Analysis_df = pd.DataFrame({
    "Number of Unique Items": [unique_item_count],
    "Average Price": [average_item_price],
    "Total Number of Purchases": [total_number_purchases],
    "Total Revenue": [total_revenue]
})
Purchasing_Analysis_df

  Number of Unique Items Average Price Total Number of Purchases Total Revenue
0                    183         $3.03                       780      $2379.77

Gender Demographics

In [15]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [16]:
purchase_data_df['Gender'].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [17]:
# Create a List of unique users
list_unique_player_count = list(array_unique_player_count)
list_unique_player_count

['Lisim78',
 'Lisovynya38',
 'Ithergue48',
 'Chamassasya86',
 'Iskosia90',
 'Yalae81',
 'Itheria73',
 'Iskjaskst81',
 'Undjask33',
 'Chanosian48',
 'Inguron55',
 'Haisrisuir60',
 'Saelaephos52',
 'Assjaskan73',
 'Saesrideu94',
 'Lisassa64',
 'Lisirra25',
 'Zontibe81',
 'Reunasu60',
 'Chamalo71',
 'Iathenudil29',
 'Phiarithdeu40',
 'Siarithria38',
 'Eyrian71',
 'Siala43',
 'Lisirra87',
 'Lirtossa84',
 'Eusri44',
 'Aela59',
 'Tyida79',
 'Idai61',
 'Farusrian86',
 'Aeralria27',
 'Haillyrgue51',
 'Sondim73',
 'Jeyciman68',
 'Idaisuir85',
 'Seuthep89',
 'Reulae52',
 'Sondilsaya62',
 'Aerithriaphos45',
 'Assosia88',
 'Aidaillodeu39',
 'Aelly27',
 'Tyeosri53',
 'Haerith37',
 'Yasrisu92',
 'Chanuchi25',
 'Asur96',
 'Iaralrgue74',
 'Chanosia34',
 'Aelin32',
 'Ilosianya35',
 'Zhisrisu83',
 'Phaelap26',
 'Raesty92',
 'Palyon91',
 'Tyisur83',
 'Yaliru88',
 'Yadanu52',
 'Jiskimya77',
 'Yadaphos40',
 'Alo38',
 'Phaena87',
 'Chamirraya83',
 'Chanastsda67',
 'Indonmol95',
 'Jiskossa61',
 'Pheodai94',
 'Hari50',
 'Marilsa69',
 'Assistasda42',
 'Lisosia93',
 'Philodil43',
 'Mindadaran26',
 'Lirtosia63',
 'Assjaskan56',
 'Irithlis29',
 'Heudai45',
 'Haerithp41',
 'Aina42',
 'Jiskjask60',
 'Umolrian85',
 'Qarirwen82',
 'Laedallo55',
 'Eoralrap26',
 'Undosian34',
 'Chadolyla44',
 'Chadistaya75',
 'Yathedeu43',
 'Aina43',
 'Ilassast39',
 'Lisassala98',
 'Aiduecal76',
 'Chadossa89',
 'Pheodaisun84',
 'Heollyriap59',
 'Maropast28',
 'Frichim77',
 'Thryallym62',
 'Eulanurin88',
 'Lassjaskan73',
 'Tyaerith73',
 'Sondadarya58',
 'Hirirap39',
 'Ririp86',
 'Sundim98',
 'Iskichinya81',
 'Phyali88',
 'Undirrala66',
 'Nitherian58',
 'Lassilsala30',
 'Frichaststa61',
 'Frichosia58',
 'Ilosia37',
 'Lisista27',
 'Seudaillorap38',
 'Aesty53',
 'Yathecal82',
 'Lisossanya98',
 'Iral74',
 'Lisast87',
 'Maridisya31',
 'Jiskassa76',
 'Ethriel85',
 'Iskirra45',
 'Iri67',
 'Rarallo90',
 'Lisasi93',
 'Adastirin33',
 'Eyista89',
 'Ili43',
 'Chamirra53',
 'Hailaphos89',
 'Iskadarya95',
 'Qilatista90',
 'Inasti31',
 'Marilsanya48',
 'Marjask87',
 'Chanjaskan89',
 'Hyaduesu61',
 'Aillyrin83',
 'Marast30',
 'Sundadar27',
 'Tyaelorap29',
 'Lirtimst73',
 'Styaduen40',
 'Sidap51',
 'Chanastst38',
 'Lirtassa52',
 'Sondim68',
 'Aeral97',
 'Heosurnuru52',
 'Lisopela58',
 'Caesrinusuir82',
 'Tyirinu79',
 'Fironon91',
 'Lassjask63',
 'Indcil77',
 'Chamimla73',
 'Syathe73',
 'Baelollodeu94',
 'Mindista32',
 'Saena74',
 'Marirrasta50',
 'Lamil79',
 'Aenarap34',
 'Aisur51',
 'Thrientossa55',
 'Chadista79',
 'Tyeurith29',
 'Malunil62',
 'Hiasri33',
 'Lisadar44',
 'Frichjask31',
 'Lisjaskya84',
 'Ristydru66',
 'Frichast28',
 'Minduri31',
 'Maradaran90',
 'Mindetosya30',
 'Ialallo29',
 'Pheusrical25',
 'Chanosia60',
 'Phistym51',
 'Aelollo59',
 'Chamimla85',
 'Haisurra41',
 'Sondastsda82',
 'Qilanrion65',
 'Eulasuir89',
 'Eosrirgue62',
 'Shaidanu32',
 'Lirtastan49',
 'Iaralsuir44',
 'Tyeudariasuir90',
 'Cosadar58',
 'Aelastirin39',
 'Aidai53',
 'Jiskjask85',
 'Ealrion88',
 'Chamjask73',
 'Tyaenasti87',
 'Alim85',
 'Haeladil46',
 'Jiskirran77',
 'Undosia27',
 'Peorith44',
 'Yarithsurgue62',
 'Taeduenu92',
 'Rairin89',
 'Aerithriaphos46',
 'Idairin51',
 'Lisista54',
 'Eodailis27',
 'Lirtastsda29',
 'Undilsan50',
 'Eodaisu60',
 'Quaranmol58',
 'Lirtossa60',
 'Lirtilsa71',
 'Isursuir31',
 'Sundirrala66',
 'Saerallora71',
 'Iasur80',
 'Tyaelo67',
 'Quanunwen42',
 'Yasur35',
 'Assehoan67',
 'Haellysu29',
 'Saida58',
 'Chamadar79',
 'Aeral43',
 'Lirtirra37',
 'Tyidaim51',
 'Lassassast73',
 'Assassasta79',
 'Heollyra92',
 'Anallorgue57',
 'Aerithllora36',
 'Smaistysu35',
 'Ennalmol65',
 'Yarithrgue83',
 'Yana46',
 'Sondimla25',
 'Aidai61',
 'Wailin72',
 'Firan91',
 'Alaesu91',
 'Aellynun67',
 'Rilaera56',
 'Eulaestira36',
 'Marim28',
 'Idastidru52',
 'Ilirrasda54',
 'Alaephos75',
 'Syalollorap93',
 'Minduli80',
 'Chanastya70',
 'Frichadaran88',
 'Siallylis44',
 'Aeri84',
 'Iasursti71',
 'Mindilsa34',
 'Chamastya76',
 'Undirra73',
 'Aestysu37',
 'Chadadarla74',
 'Strithenu87',
 'Iasrira89',
 'Ialidru40',
 'Tyalaesu89',
 'Tyidainu31',
 'Lirtilsa72',
 'Undjaskla97',
 'Saedaiphos46',
 'Aerithnucal56',
 'Lisossa46',
 'Layjask75',
 'Lisista63',
 'Ceoral34',
 'Hilaerin92',
 'Chadilsasta32',
 'Undassa89',
 'Iduenu77',
 'Lisosia66',
 'Undimsya85',
 'Phaedue89',
 'Yadacal26',
 'Lisossa25',
 'Ilmol66',
 'Yastyriaphos75',
 'Hiasurria41',
 'Palatyon26',
 'Qilalista41',
 'Hada39',
 'Chamilsala65',
 'Rairith81',
 'Ilarin91',
 'Ryanara76',
 'Undista85',
 'Tyeoralru41',
 'Pheosrinudeu70',
 'Heuli25',
 'Pheutherin27',
 'Chadirra90',
 'Ali84',
 'Frichjaskan98',
 'Malil90',
 'Yarithllodeu72',
 'Tyaedainu44',
 'Ethron58',
 'Eusurdeu49',
 'Saistyphos30',
 'Saisrilis27',
 'Hallysucal81',
 'Ilimya66',
 'Raysistast71',
 'Haedairiadru51',
 'Tyananurgue44',
 'Risty84',
 'Aerillorin70',
 'Phistyn52',
 'Yalo85',
 'Chamirrasya33',
 'Hiral75',
 'Isursti83',
 'Bartassaya73',
 'Aeda94',
 'Quinarap53',
 'Asur53',
 'Alarap40',
 'Sida61',
 'Hiarideu73',
 'Lassassasda30',
 'Ennoncil86',
 'Siralsudeu54',
 'Eusri26',
 'Ardcil81',
 'Marilsasya33',
 'Lirtim36',
 'Heunadil74',
 'Frichadar89',
 'Aesurstilis64',
 'Idaidil28',
 'Lisotesta51',
 'Lisico81',
 'Lisiriya82',
 'Siana77',
 'Marokian45',
 'Sausosia74',
 'Assesi91',
 'Eusri70',
 'Aisurria69',
 'Iarilis73',
 'Raisty38',
 'Ilista82',
 'Leyirra83',
 'Aiduesu86',
 'Frichynde86',
 'Hisridru55',
 'Chamossa77',
 'Irillo49',
 'Lirtastsya71',
 'Frichosiala98',
 'Qilunan34',
 'Quarrion42',
 'Aisurdru79',
 'Hiaral50',
 'Iarallo65',
 'Sondassasya91',
 'Chanossast57',
 'Chanjask65',
 'Ethralista69',
 'Sondistanya61',
 'Eudanu32',
 'Euthe35',
 'Lassimla92',
 'Lisossala30',
 'Eulae84',
 'Chamadarnya73',
 'Eolan54',
 'Assistasda90',
 'Ennrian78',
 'Undirrasta89',
 'Rianistast50',
 'Undare39',
 'Adairialis76',
 'Aesur96',
 'Tyialisudeu65',
 'Arirgue63',
 'Sundadarla27',
 'Eyircil84',
 'Ina92',
 'Lirtistanya48',
 'Marassa62',
 'Mindossa76',
 'Salilis27',
 'Sondossa69',
 'Sundjask71',
 'Errian63',
 'Eurithphos97',
 'Raillydeu47',
 'Malon70',
 'Jiskimsda56',
 'Marughi89',
 'Ingatcil75',
 'Chanirrasta87',
 'Alaesu77',
 'Ermol76',
 'Tyeuduen32',
 'Firon67',
 'Iadueria43',
 'Pheulidil31',
 'Eodairu79',
 'Frichocesta66',
 'Thourdirra92',
 'Chanastnya43',
 'Iskim96',
 'Eulolis41',
 'Sastydeu50',
 'Ilaesudil92',
 'Yasur85',
 'Aidain51',
 'Aerithnuphos61',
 'Yalostiphos68',
 'Meosridil82',
 'Aillyriadru65',
 'Sally64',
 'Lisim51',
 'Isurria36',
 'Silaera56',
 'Leetirraya83',
 'Lirtirra81',
 'Eryon48',
 'Iana95',
 'Sondassan80',
 'Chanadar44',
 'Eosurdru76',
 'Shidai42',
 'Aesri53',
 'Syally44',
 'Jiskadarst60',
 'Sondadar26',
 'Malarrian73',
 'Maluncil97',
 'Ilunyon70',
 'Yadam35',
 'Dyally87',
 'Pheosurllorin41',
 'Frichaya88',
 'Lassadarsda57',
 'Marynde90',
 'Isri34',
 'Assastnya25',
 'Ardonmol96',
 'Lassirrasda85',
 'Chadossa56',
 'Poshilsa82',
 'Yoishirrala98',
 'Sundista37',
 'Ilassa51',
 'Filurarn35',
 'Phaestycal84',
 'Irilis75',
 'Aeralstical35',
 'Chanirrala39',
 'Chanirra79',
 'Assirra56',
 'Seolollo93',
 'Iathem87',
 'Iasurriacal29',
 'Lisast98',
 'Filrion59',
 'Halaecal66',
 'Iskosian40',
 'Ilastilis78',
 'Seosrim97',
 'Farrian71',
 'Rithe53',
 'Frichossala54',
 'Chamjaskya75',
 'Quanrion96',
 'Tyaelaelis94',
 'Quanenrian83',
 'Chanirra64',
 'Yadaisuir65',
 'Syathecal44',
 'Arin32',
 'Aelaria33',
 'Assassa81',
 'Filrion83',
 'Eoral49',
 'Airi27',
 'Eurisuru25',
 'Liawista80',
 'Lisirra58',
 'Chamadarsda63',
 'Haestyphos66',
 'Phaedasurap84',
 'Mindimnya67',
 'Chadjask85',
 'Eustyria89',
 'Iskim66',
 'Chamast86',
 'Lirtassan78',
 'Ethrasyon38',
 'Quilassa66',
 'Lisassasda39',
 'Mindilsa60',
 'Lalossa38',
 'Chamistast30',
 'Hariphos58',
 'Assilsan72',
 'Inasuir29',
 'Chanilsasda38',
 'Mindesi74',
 'Ililsan66',
 'Idacal95',
 'Aeral68',
 'Tyarithn67',
 'Asty82',
 'Yalaeria91',
 'Chadjask77',
 'Ealiril69',
 'Quaecjask96',
 'Firatan58',
 'Yarolwen77',
 'Tyaelistidru84',
 'Yarithrin84',
 'Tyaelly53',
 'Phiristi62',
 'Ililsasya43',
 'Aithelis62',
 'Undotesta33',
 'Aelidru27',
 'Chanossanya44',
 'Maradarnya40',
 'Lisilsa62',
 'Saena89',
 'Chanilsast61',
 'Sundassa93',
 'Aidai73',
 'Indirrian56',
 'Lisassasta50',
 'Iduelis31',
 'Chanosiaya39',
 'Assylla81',
 'Aidaira26',
 'Eudanu84',
 'Chamiman85',
 'Tyialisti80',
 'Marundi65',
 'Eusur90',
 'Mindirranya33',
 'Phiallylis33',
 'Isty55',
 'Frichilsa31',
 'Chanista95',
 'Aellyria80',
 'Rastynusuir31',
 'Iljask75',
 'Lisjaskan36',
 'Mindjasksya61',
 'Frichirranya75',
 'Ilast79',
 'Eratiel90',
 'Assim27',
 'Irith83',
 'Ilosian36',
 'Iskossasda43',
 'Hala31',
 'Jiskjask80',
 'Aethedru70',
 'Yathecal72',
 'Sisur91']

In [18]:
# Remove duplicate intances of users
unique_user_id_df = purchase_data_df.drop_duplicates(subset='SN')

In [19]:
# Set the 'SN' as our index
unique_user_id_df = unique_user_id_df.set_index('SN')
unique_user_id_df

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Lisim78,0,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
Lisovynya38,1,40,Male,143,Frenzied Scimitar,1.56
Ithergue48,2,24,Male,92,Final Critic,4.88
Chamassasya86,3,24,Male,100,Blindscythe,3.27
Iskosia90,4,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
Hala31,773,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
Jiskjask80,774,11,Male,101,Final Critic,4.19
Aethedru70,775,21,Female,60,Wolf,3.54
Yathecal72,777,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
Sisur91,778,7,Male,101,Final Critic,4.19

In [20]:
# variables to hold counts
unique_player_male_count = 0
unique_player_female_count = 0
unique_player_other_count = 0

In [21]:
# for loop to count instances of player gender
for i in list_unique_player_count:
    user_name = i
    unique_player_gender = unique_user_id_df.loc[user_name, "Gender"]
    if unique_player_gender == "Male":
        unique_player_male_count = unique_player_male_count + 1
    elif unique_player_gender == "Female":
        unique_player_female_count = unique_player_female_count + 1
    elif unique_player_gender == "Other / Non-Disclosed":
        unique_player_other_count = unique_player_other_count + 1

In [22]:
# Male Player Count
unique_player_male_count

484

In [23]:
unique_player_male_percent = unique_player_male_count / unique_player_count
unique_player_male_percent

0.8402777777777778

In [24]:
# Female Player Count
unique_player_female_count

81

In [25]:
unique_player_female_percent = unique_player_female_count / unique_player_count
unique_player_female_percent

0.140625

In [26]:
# Other Player Count
unique_player_other_count

11

In [27]:
unique_player_other_percent = unique_player_other_count / unique_player_count
unique_player_other_percent

0.019097222222222224

In [28]:
# Gender Demographics Output


unique_player_male_count = str(unique_player_male_count)
unique_player_female_count = str(unique_player_female_count)
unique_player_other_count = str(unique_player_other_count)

unique_player_male_percent = str(format(unique_player_male_percent, "4.2%"))
unique_player_female_percent = str(format(unique_player_female_percent, "4.2%"))
unique_player_other_percent = str(format(unique_player_other_percent, "4.2%"))

print(unique_player_male_count)
print(unique_player_male_percent)
print(unique_player_female_count)
print(unique_player_female_percent)
print(unique_player_other_count)
print(unique_player_other_percent)

484
84.03%
81
14.06%
11
1.91%

In [29]:
Gender_Demographics_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count": [unique_player_male_count, unique_player_female_count, unique_player_other_count],
    "Percentage of Players": [unique_player_male_percent, unique_player_female_percent, unique_player_other_percent]
})

Gender_Demographics_df = Gender_Demographics_df.set_index("Gender")

Gender_Demographics_df

                      Total Count Percentage of Players
Gender
Male                          484                84.03%
Female                         81                14.06%
Other / Non-Disclosed          11                 1.91%

Purchasing Analysis (Gender)

In [30]:
purchase_data_df.head(16)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89

In [31]:
# Dataframe housing female data
male_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
male_df.head(16)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76

In [32]:
purchase_count_male = male_df["SN"].count()
purchase_count_male

652

In [33]:
average_purchase_price_male = male_df["Price"].mean()
average_purchase_price_male

3.0178527607361953

In [34]:
total_purchase_price_male = male_df["Price"].sum()
total_purchase_price_male

1967.64

In [35]:
average_male_purchase = float(total_purchase_price_male) / float(unique_player_male_count)
average_male_purchase

4.065371900826446

In [36]:
# Dataframe housing female data
female_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
female_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [37]:
purchase_count_female = female_df["SN"].count()
purchase_count_female

113

In [38]:
average_purchase_price_female = female_df["Price"].mean()
average_purchase_price_female

3.203008849557519

In [39]:
total_purchase_price_female = female_df["Price"].sum()
total_purchase_price_female

361.94

In [40]:
average_female_purchase = float(total_purchase_price_female) / float(unique_player_female_count)
average_female_purchase

4.468395061728395

In [41]:
# Dataframe housing female data
other_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
other_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [42]:
purchase_count_other = other_df["SN"].count()
purchase_count_other

15

In [43]:
average_purchase_price_other = other_df["Price"].mean()
average_purchase_price_other

3.3460000000000005

In [44]:
total_purchase_price_other = other_df["Price"].sum()
total_purchase_price_other

50.19

In [45]:
average_other_purchase = float(total_purchase_price_other) / float(unique_player_other_count)
average_other_purchase

4.5627272727272725

In [46]:
# Purchasing Analysis (Gender) Output

purchase_count_male = str(purchase_count_male)
purchase_count_female = str(purchase_count_female)
purchase_count_other = str(purchase_count_other)

average_purchase_price_male = "$" + str(format(average_purchase_price_male, "4.2f"))
average_purchase_price_female = "$" + str(format(average_purchase_price_female, "4.2f"))
average_purchase_price_other = "$" + str(format(average_purchase_price_other, "4.2f"))

total_purchase_price_male = "$" + str(format(total_purchase_price_male, "4.2f"))
total_purchase_price_female = "$" + str(format(total_purchase_price_female, "4.2f"))
total_purchase_price_other = "$" + str(format(total_purchase_price_other, "4.2f"))

average_male_purchase = "$" + str(format(average_male_purchase, "4.2f"))
average_female_purchase = "$" + str(format(average_female_purchase, "4.2f"))
average_other_purchase = "$" + str(format(average_other_purchase, "4.2f"))

print(purchase_count_male)
print(purchase_count_female)
print(purchase_count_other)
print(average_purchase_price_male)
print(average_purchase_price_female)
print(average_purchase_price_other)
print(total_purchase_price_male)
print(total_purchase_price_female)
print(total_purchase_price_other)
print(average_male_purchase)
print(average_female_purchase)
print(average_other_purchase)

652
113
15
$3.02
$3.20
$3.35
$1967.64
$361.94
$50.19
$4.07
$4.47
$4.56

In [47]:
Purchasing_Analysis_Gender_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [purchase_count_male, purchase_count_female, purchase_count_other],
    "Average Purchase Price": [average_purchase_price_male, average_purchase_price_female, average_purchase_price_other],
    "Total Purchase Value": [total_purchase_price_male, total_purchase_price_female, total_purchase_price_other],    
    "Avg Total Purchase per Person": [average_male_purchase, average_female_purchase, average_other_purchase]   
})

Purchasing_Analysis_Gender_df = Purchasing_Analysis_Gender_df.set_index("Gender")

Purchasing_Analysis_Gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

Age Demographics

In [48]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [49]:
age_max = purchase_data_df["Age"].max()
age_max

45

In [50]:
# Create bins in which to place values based upon users age
bins = [0, 10, 14, 19, 24, 29, 34, 39, 50]

# Create labels for these bins
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [51]:
# Slice the data and place it into bins
pd.cut(purchase_data_df["Age"], bins, labels = age_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [52]:
# Place the data series into a new column inside of the DataFrame
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels = age_labels)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [53]:
unique_user_id_df = purchase_data_df.drop_duplicates(subset='SN')
unique_user_id_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10

In [54]:
array_age_range_count = unique_user_id_df["Age Range"].value_counts()
array_age_range_count

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
<10       24
10-14     15
40+       12
Name: Age Range, dtype: int64

In [55]:
array_age_range_count = array_age_range_count.sort_index()
array_age_range_count

<10       24
10-14     15
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age Range, dtype: int64

In [56]:
list_age_range_count = list(array_age_range_count)
list_age_range_count

[24, 15, 107, 258, 77, 52, 31, 12]

In [57]:
age_percentage_of_players = [i / sum(list_age_range_count) for i in list_age_range_count]
age_percentage_of_players = [format(i, "4.2%") for i in age_percentage_of_players]
age_percentage_of_players

['4.17%', '2.60%', '18.58%', '44.79%', '13.37%', '9.03%', '5.38%', '2.08%']

In [58]:
Age_Demographics_df = pd.DataFrame(list(zip(age_labels, list_age_range_count, age_percentage_of_players)), columns = ["Age Range", "Total Count", "Percentage of Players"])
Age_Demographics_df

  Age Range  Total Count Percentage of Players
0       <10           24                 4.17%
1     10-14           15                 2.60%
2     15-19          107                18.58%
3     20-24          258                44.79%
4     25-29           77                13.37%
5     30-34           52                 9.03%
6     35-39           31                 5.38%
7       40+           12                 2.08%

In [59]:
Age_Demographics_df = Age_Demographics_df.set_index("Age Range")
Age_Demographics_df

           Total Count Percentage of Players
Age Range
<10                 24                 4.17%
10-14               15                 2.60%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

Purchasing Analysis (Age)

In [60]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [61]:
purchasing_analysis = purchase_data_df.groupby("Age Range")
array_purchase_count = purchasing_analysis["Price"].count()
array_average_purchase_price = purchasing_analysis["Price"].mean()
array_total_purchase_value = purchasing_analysis["Price"].sum()
array_total_purchase_value

Age Range
<10       108.96
10-14      50.95
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [62]:
list_purchase_count = list(array_purchase_count)
list_purchase_count

[32, 19, 136, 365, 101, 73, 41, 13]

In [63]:
list_average_purchase_price = list(array_average_purchase_price)
list_average_purchase_price

[3.4049999999999994,
 2.6815789473684206,
 3.03595588235294,
 3.0522191780821935,
 2.900990099009899,
 2.9315068493150687,
 3.6017073170731706,
 2.9415384615384617]

In [64]:
list_total_purchase_value = list(array_total_purchase_value)
list_total_purchase_value

[108.95999999999998,
 50.94999999999999,
 412.8899999999998,
 1114.0600000000006,
 292.99999999999983,
 214.0,
 147.67,
 38.24]

In [68]:
Purchasing_Analysis_Age_df = pd.DataFrame(list(zip(age_labels, list_purchase_count, list_average_purchase_price, list_total_purchase_value)), columns = ["Age Range", "Purchase Count", "Average Purchase Price", "Total Purchase Value"])
Purchasing_Analysis_Age_df

  Age Range  Purchase Count  Average Purchase Price  Total Purchase Value
0       <10              32                3.405000                108.96
1     10-14              19                2.681579                 50.95
2     15-19             136                3.035956                412.89
3     20-24             365                3.052219               1114.06
4     25-29             101                2.900990                293.00
5     30-34              73                2.931507                214.00
6     35-39              41                3.601707                147.67
7       40+              13                2.941538                 38.24

In [69]:
Purchasing_Analysis_Age_df = Purchasing_Analysis_Age_df.set_index("Age Range")
Purchasing_Analysis_Age_df

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Range
<10                    32                3.405000                108.96
10-14                  19                2.681579                 50.95
15-19                 136                3.035956                412.89
20-24                 365                3.052219               1114.06
25-29                 101                2.900990                293.00
30-34                  73                2.931507                214.00
35-39                  41                3.601707                147.67
40+                    13                2.941538                 38.24

In [70]:
# Create bins in which to place values based upon users age
#bins = [0, 10, 14, 19, 24, 29, 34, 39, 50]

# Create labels for these bins
#age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [71]:
# Player Count
# array_unique_player_count = purchase_data_df["SN"].unique()
# unique_player_count = len(array_unique_player_count)
# unique_player_count

In [72]:
Purchasing_Analysis_Age_df["Avg Total Purchase per Person"] = (Purchasing_Analysis_Age_df["Total Purchase Value"] / unique_player_count)

In [73]:
Purchasing_Analysis_Age_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,32,3.405000,108.96,0.189167
10-14,19,2.681579,50.95,0.088455
15-19,136,3.035956,412.89,0.716823
20-24,365,3.052219,1114.06,1.934132
25-29,101,2.900990,293.00,0.508681

Top Spenders

In [74]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [75]:
Array_Purchase_Count = purchase_data_df["SN"].value_counts()
List_Purchase_Count = list(Array_Purchase_Count)
List_Purchase_Count

[5,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [76]:
Array_SN = purchase_data_df["SN"]
List_SN = list(Array_SN)
List_SN

['Lisim78',
 'Lisovynya38',
 'Ithergue48',
 'Chamassasya86',
 'Iskosia90',
 'Yalae81',
 'Itheria73',
 'Iskjaskst81',
 'Undjask33',
 'Chanosian48',
 'Inguron55',
 'Haisrisuir60',
 'Saelaephos52',
 'Assjaskan73',
 'Saesrideu94',
 'Lisassa64',
 'Lisirra25',
 'Zontibe81',
 'Reunasu60',
 'Chamalo71',
 'Iathenudil29',
 'Phiarithdeu40',
 'Siarithria38',
 'Eyrian71',
 'Siala43',
 'Lisirra87',
 'Lirtossa84',
 'Eusri44',
 'Aela59',
 'Tyida79',
 'Idai61',
 'Farusrian86',
 'Aeralria27',
 'Haillyrgue51',
 'Sondim73',
 'Jeyciman68',
 'Idaisuir85',
 'Seuthep89',
 'Reulae52',
 'Sondilsaya62',
 'Aerithriaphos45',
 'Assosia88',
 'Aidaillodeu39',
 'Aelly27',
 'Tyeosri53',
 'Haerith37',
 'Yasrisu92',
 'Chanuchi25',
 'Asur96',
 'Iaralrgue74',
 'Saelaephos52',
 'Chanosia34',
 'Aelin32',
 'Ilosianya35',
 'Zhisrisu83',
 'Phaelap26',
 'Raesty92',
 'Palyon91',
 'Tyisur83',
 'Yaliru88',
 'Yadanu52',
 'Jiskimya77',
 'Yadaphos40',
 'Alo38',
 'Phaena87',
 'Chamirraya83',
 'Chanastsda67',
 'Lisim78',
 'Indonmol95',
 'Jiskossa61',
 'Pheodai94',
 'Hari50',
 'Marilsa69',
 'Assistasda42',
 'Lisosia93',
 'Philodil43',
 'Mindadaran26',
 'Lirtosia63',
 'Haillyrgue51',
 'Assjaskan56',
 'Irithlis29',
 'Heudai45',
 'Haerithp41',
 'Aina42',
 'Jiskjask60',
 'Umolrian85',
 'Qarirwen82',
 'Aelin32',
 'Laedallo55',
 'Eoralrap26',
 'Undosian34',
 'Chadolyla44',
 'Chadistaya75',
 'Yathedeu43',
 'Aina43',
 'Ilassast39',
 'Lisassala98',
 'Aiduecal76',
 'Chadossa89',
 'Haisrisuir60',
 'Pheodaisun84',
 'Heollyriap59',
 'Maropast28',
 'Frichim77',
 'Thryallym62',
 'Eulanurin88',
 'Lassjaskan73',
 'Tyaerith73',
 'Sondadarya58',
 'Hirirap39',
 'Ririp86',
 'Sundim98',
 'Iskichinya81',
 'Phyali88',
 'Undirrala66',
 'Nitherian58',
 'Lassilsala30',
 'Frichaststa61',
 'Pheodaisun84',
 'Frichosia58',
 'Lisosia93',
 'Ilosia37',
 'Lisista27',
 'Seudaillorap38',
 'Aesty53',
 'Yathecal82',
 'Frichim77',
 'Lisossanya98',
 'Iral74',
 'Lisast87',
 'Maridisya31',
 'Jiskassa76',
 'Inguron55',
 'Phaena87',
 'Phyali88',
 'Ethriel85',
 'Iskirra45',
 'Iri67',
 'Rarallo90',
 'Lisasi93',
 'Hari50',
 'Zhisrisu83',
 'Adastirin33',
 'Eyista89',
 'Ili43',
 'Chamirra53',
 'Aidaillodeu39',
 'Hailaphos89',
 'Iskadarya95',
 'Qilatista90',
 'Inasti31',
 'Marilsanya48',
 'Marjask87',
 'Chanjaskan89',
 'Hyaduesu61',
 'Aillyrin83',
 'Eyrian71',
 'Marast30',
 'Sundadar27',
 'Tyaelorap29',
 'Lirtimst73',
 'Iri67',
 'Styaduen40',
 'Sidap51',
 'Chanastst38',
 'Lirtassa52',
 'Sondim68',
 'Aeral97',
 'Iskjaskst81',
 'Heosurnuru52',
 'Lisopela58',
 'Caesrinusuir82',
 'Tyirinu79',
 'Fironon91',
 'Lassjask63',
 'Indcil77',
 'Chamimla73',
 'Syathe73',
 'Baelollodeu94',
 'Mindista32',
 'Saena74',
 'Marirrasta50',
 'Lamil79',
 'Aenarap34',
 'Aisur51',
 'Thrientossa55',
 'Chadista79',
 'Tyeurith29',
 'Malunil62',
 'Hiasri33',
 'Lisadar44',
 'Frichjask31',
 'Lisjaskya84',
 'Ristydru66',
 'Frichast28',
 'Minduri31',
 'Maradaran90',
 'Mindetosya30',
 'Chadolyla44',
 'Ialallo29',
 'Pheusrical25',
 'Chanosia60',
 'Phistym51',
 'Aelollo59',
 'Chamimla85',
 'Jiskimya77',
 'Haisurra41',
 'Sondastsda82',
 'Qilanrion65',
 'Eulasuir89',
 'Umolrian85',
 'Eosrirgue62',
 'Shaidanu32',
 'Lirtastan49',
 'Iaralsuir44',
 'Ialallo29',
 'Tyeudariasuir90',
 'Cosadar58',
 'Aelastirin39',
 'Aidai53',
 'Jiskjask85',
 'Ealrion88',
 'Chamjask73',
 'Undirrala66',
 'Lisosia93',
 'Tyaenasti87',
 'Alim85',
 'Haeladil46',
 'Jiskirran77',
 'Undosia27',
 'Peorith44',
 'Yarithsurgue62',
 'Sundadar27',
 'Taeduenu92',
 'Chamimla85',
 'Rairin89',
 'Aerithriaphos46',
 'Idairin51',
 'Lisista54',
 'Eodailis27',
 'Lirtastsda29',
 'Undilsan50',
 'Eodaisu60',
 'Quaranmol58',
 'Lirtossa60',
 'Lisim78',
 'Lirtilsa71',
 'Iskadarya95',
 'Isursuir31',
 'Sundirrala66',
 'Saerallora71',
 'Iasur80',
 'Tyaelo67',
 'Aesty53',
 'Quanunwen42',
 'Sondastsda82',
 'Chamirra53',
 'Yasur35',
 'Assehoan67',
 'Haellysu29',
 'Saida58',
 'Tyeosri53',
 'Chamadar79',
 'Aeral43',
 'Saesrideu94',
 'Lirtirra37',
 'Siala43',
 'Tyidaim51',
 'Inasti31',
 'Lassassast73',
 'Assassasta79',
 'Heollyra92',
 'Anallorgue57',
 'Phyali88',
 'Aerithllora36',
 'Smaistysu35',
 'Tyidaim51',
 'Ennalmol65',
 'Iskichinya81',
 'Yarithrgue83',
 'Yana46',
 'Sondimla25',
 'Aidai61',
 'Wailin72',
 'Firan91',
 'Alaesu91',
 'Aellynun67',
 'Rilaera56',
 'Eulaestira36',
 'Marim28',
 'Idastidru52',
 'Idairin51',
 'Lisasi93',
 'Lisopela58',
 'Ilirrasda54',
 'Alaephos75',
 'Syalollorap93',
 'Heosurnuru52',
 'Minduli80',
 'Lirtossa84',
 'Chanastya70',
 'Frichadaran88',
 'Siallylis44',
 'Aeri84',
 'Iasursti71',
 'Siallylis44',
 'Mindilsa34',
 'Chamastya76',
 'Undirra73',
 'Aestysu37',
 'Chadadarla74',
 'Anallorgue57',
 'Strithenu87',
 'Iasrira89',
 'Ialidru40',
 'Tyisur83',
 'Tyalaesu89',
 'Tyidainu31',
 'Iskadarya95',
 'Rarallo90',
 'Lirtilsa72',
 'Undjaskla97',
 'Saedaiphos46',
 'Tyisur83',
 'Aerithnucal56',
 'Hiasri33',
 'Lisossa46',
 'Layjask75',
 'Lisista63',
 'Ceoral34',
 'Hilaerin92',
 'Chadilsasta32',
 'Undassa89',
 'Iduenu77',
 'Lisosia66',
 'Undimsya85',
 'Phaedue89',
 'Yadacal26',
 'Lisossa25',
 'Ilmol66',
 'Yastyriaphos75',
 'Hiasurria41',
 'Palatyon26',
 'Chadilsasta32',
 'Qilalista41',
 'Hada39',
 'Saedaiphos46',
 'Chamilsala65',
 'Eulaestira36',
 'Sundirrala66',
 'Rairith81',
 'Assistasda42',
 'Ilarin91',
 'Ryanara76',
 'Undista85',
 'Tyeoralru41',
 'Pheosrinudeu70',
 'Heuli25',
 'Pheutherin27',
 'Chadirra90',
 'Ali84',
 'Frichjaskan98',
 'Malil90',
 'Aina42',
 'Yarithllodeu72',
 'Tyaedainu44',
 'Hirirap39',
 'Eodailis27',
 'Ethron58',
 'Heuli25',
 'Idai61',
 'Eusurdeu49',
 'Saistyphos30',
 'Aina42',
 'Saisrilis27',
 'Hallysucal81',
 'Ilimya66',
 'Raysistast71',
 'Haedairiadru51',
 'Tyananurgue44',
 'Risty84',
 'Aerillorin70',
 'Phistyn52',
 'Yalo85',
 'Chamirrasya33',
 'Hiral75',
 'Isursti83',
 'Bartassaya73',
 'Aeda94',
 'Quinarap53',
 'Asur53',
 'Alarap40',
 'Sida61',
 'Hiarideu73',
 'Lassassasda30',
 'Ennoncil86',
 'Siralsudeu54',
 'Eusri26',
 'Ardcil81',
 'Marilsasya33',
 'Ilarin91',
 'Lirtim36',
 'Heunadil74',
 'Frichadar89',
 'Chamirrasya33',
 'Aesurstilis64',
 'Idaidil28',
 'Idai61',
 'Raesty92',
 'Lisotesta51',
 'Strithenu87',
 'Lisico81',
 'Lisiriya82',
 'Siana77',
 'Marokian45',
 'Sausosia74',
 'Aestysu37',
 'Pheodaisun84',
 'Marim28',
 'Iaralrgue74',
 'Assesi91',
 'Yadaphos40',
 'Eusri70',
 'Aisurria69',
 'Iarilis73',
 'Raisty38',
 'Ilista82',
 'Leyirra83',
 'Aelly27',
 'Aiduesu86',
 'Frichynde86',
 'Aelollo59',
 'Hisridru55',
 'Chamossa77',
 'Irillo49',
 'Lirtastsya71',
 'Umolrian85',
 'Frichosiala98',
 'Qilunan34',
 'Quarrion42',
 'Aisurdru79',
 'Hiaral50',
 'Zontibe81',
 'Iarallo65',
 'Sondassasya91',
 'Phaelap26',
 'Chanossast57',
 'Yalae81',
 'Chanjask65',
 'Ethralista69',
 'Sondistanya61',
 'Eudanu32',
 'Marilsasya33',
 'Euthe35',
 'Lassimla92',
 'Lisossala30',
 'Phaena87',
 'Eulae84',
 'Chamadarnya73',
 'Eolan54',
 'Assistasda90',
 'Ennrian78',
 'Undirrasta89',
 'Frichadaran88',
 'Rianistast50',
 'Sondastsda82',
 'Undare39',
 'Adairialis76',
 'Aesur96',
 'Tyialisudeu65',
 'Arirgue63',
 'Sundadarla27',
 'Lisopela58',
 'Eyircil84',
 'Ina92',
 'Lirtistanya48',
 'Marassa62',
 'Mindossa76',
 'Sondim68',
 'Chanjaskan89',
 'Salilis27',
 'Sondossa69',
 'Sundjask71',
 'Saistyphos30',
 'Chanosian48',
 'Errian63',
 'Eurithphos97',
 'Raillydeu47',
 'Malon70',
 'Jiskimsda56',
 'Idastidru52',
 'Marughi89',
 'Ingatcil75',
 'Chanirrasta87',
 'Alaesu77',
 'Ermol76',
 'Tyeuduen32',
 'Yadacal26',
 'Firon67',
 'Iadueria43',
 'Pheulidil31',
 'Eodairu79',
 'Frichocesta66',
 'Iaralsuir44',
 'Chamilsala65',
 'Thourdirra92',
 'Chadista79',
 'Chanastnya43',
 'Iskim96',
 'Inguron55',
 'Eulolis41',
 'Lassilsala30',
 'Sastydeu50',
 'Ilaesudil92',
 'Yasur85',
 'Haillyrgue51',
 'Aidain51',
 'Aerithnuphos61',
 'Yalostiphos68',
 'Eusri70',
 'Chamjask73',
 'Phistym51',
 'Meosridil82',
 'Aillyriadru65',
 'Sally64',
 'Lirtimst73',
 'Ilosia37',
 'Lisim51',
 'Isurria36',
 'Silaera56',
 'Leetirraya83',
 'Lirtirra81',
 'Eryon48',
 'Hada39',
 'Iana95',
 'Siralsudeu54',
 'Siallylis44',
 'Sondassan80',
 'Chanadar44',
 'Eosurdru76',
 'Shidai42',
 'Aesri53',
 'Syally44',
 'Idastidru52',
 'Ardcil81',
 'Jiskadarst60',
 'Sondadar26',
 'Malarrian73',
 'Yathecal82',
 'Maluncil97',
 'Ilunyon70',
 'Iri67',
 'Hiaral50',
 'Yadam35',
 'Dyally87',
 'Pheosurllorin41',
 'Frichocesta66',
 'Frichaya88',
 'Lassadarsda57',
 'Iasrira89',
 'Zontibe81',
 'Chanastnya43',
 'Marynde90',
 'Isri34',
 'Chamjask73',
 'Assastnya25',
 'Ardonmol96',
 'Lassirrasda85',
 'Syally44',
 'Baelollodeu94',
 'Chadossa56',
 'Poshilsa82',
 'Yoishirrala98',
 'Sundista37',
 'Undare39',
 'Sondadar26',
 'Ilassa51',
 'Filurarn35',
 'Aerithllora36',
 'Marilsa69',
 'Tyida79',
 'Phaestycal84',
 'Irilis75',
 'Aeralstical35',
 'Aelin32',
 'Chanirrala39',
 'Chanirra79',
 'Assirra56',
 'Lassadarsda57',
 'Seolollo93',
 'Iathem87',
 'Iasurriacal29',
 'Lisast98',
 'Lassimla92',
 'Filrion59',
 'Yathedeu43',
 'Seudaillorap38',
 'Quinarap53',
 'Halaecal66',
 'Hiaral50',
 'Iskosian40',
 'Ilastilis78',
 'Seosrim97',
 'Lisosia93',
 'Lisim51',
 'Farrian71',
 'Nitherian58',
 'Rithe53',
 'Leyirra83',
 'Lisosia93',
 'Frichossala54',
 'Chamjaskya75',
 'Silaera56',
 'Quanrion96',
 'Chadadarla74',
 'Sida61',
 'Tyaelaelis94',
 'Chamimla85',
 'Aisurdru79',
 'Quanenrian83',
 'Undosian34',
 'Seosrim97',
 'Chanirra64',
 'Iral74',
 'Marynde90',
 'Yadaisuir65',
 'Syathecal44',
 'Arin32',
 'Hada39',
 'Maluncil97',
 'Aelaria33',
 'Assassa81',
 'Filrion83',
 'Chanastnya43',
 'Eoral49',
 'Ali84',
 'Chanirrala39',
 'Airi27',
 'Eurisuru25',
 'Liawista80',
 'Sausosia74',
 'Lisirra58',
 'Chamadarsda63',
 'Haestyphos66',
 'Bartassaya73',
 'Phaedasurap84',
 'Mindimnya67',
 'Chadjask85',
 'Eustyria89',
 'Iskim66',
 'Smaistysu35',
 'Lirtilsa72',
 'Pheosrinudeu70',
 'Chamast86',
 'Tyialisudeu65',
 'Lirtassan78',
 'Ethrasyon38',
 'Silaera56',
 'Quilassa66',
 'Lisassasda39',
 'Isri34',
 'Strithenu87',
 'Mindilsa60',
 'Lalossa38',
 'Chamistast30',
 'Hariphos58',
 'Assilsan72',
 'Inasuir29',
 'Chanilsasda38',
 'Mindesi74',
 'Aiduecal76',
 'Caesrinusuir82',
 'Ililsan66',
 'Idacal95',
 'Aeral68',
 'Lirtastsda29',
 'Idastidru52',
 'Tyarithn67',
 'Rarallo90',
 'Iarilis73',
 'Asty82',
 'Yalaeria91',
 'Lirtossa60',
 'Ialallo29',
 'Phaestycal84',
 'Halaecal66',
 'Chadjask77',
 'Ealiril69',
 'Saistyphos30',
 'Undjaskla97',
 'Idaidil28',
 'Lirtistanya48',
 'Quaecjask96',
 'Firatan58',
 'Mindesi74',
 'Lamil79',
 'Yarolwen77',
 'Tyaelistidru84',
 'Yarithrin84',
 'Tyaelly53',
 'Chanosia60',
 'Phiristi62',
 'Ililsasya43',
 'Aithelis62',
 'Undotesta33',
 'Aelidru27',
 'Chanossanya44',
 'Maradarnya40',
 'Lirtastsya71',
 'Lisast87',
 'Lisossa25',
 'Chadolyla44',
 'Lisilsa62',
 'Iasur80',
 'Tyidaim51',
 'Eusurdeu49',
 'Saena89',
 'Chanilsast61',
 'Ilirrasda54',
 'Sundassa93',
 'Aidai73',
 'Indirrian56',
 'Ilarin91',
 'Lisista54',
 'Lisassasta50',
 'Malunil62',
 'Iduelis31',
 'Yathecal82',
 'Chanosiaya39',
 'Assylla81',
 'Aidaira26',
 'Eudanu84',
 'Eurithphos97',
 'Chamiman85',
 'Arin32',
 'Leetirraya83',
 'Tyialisti80',
 'Marundi65',
 'Eusur90',
 'Mindirranya33',
 'Reunasu60',
 'Phiallylis33',
 'Isty55',
 'Frichilsa31',
 'Chanastst38',
 'Chanista95',
 'Aellyria80',
 'Siarithria38',
 'Rastynusuir31',
 'Chanossanya44',
 'Iljask75',
 'Lisjaskan36',
 'Mindjasksya61',
 'Frichirranya75',
 'Pheosurllorin41',
 'Raesty92',
 'Ilast79',
 'Eratiel90',
 'Iral74',
 'Tyaelorap29',
 'Aithelis62',
 'Assim27',
 'Asur53',
 'Lassilsala30',
 'Saedaiphos46',
 'Irith83',
 'Aelastirin39',
 'Ilmol66',
 'Assassasta79',
 'Ilosian36',
 'Lirtosia63',
 'Iskossasda43',
 'Asur53',
 'Hala31',
 'Jiskjask80',
 'Aethedru70',
 'Iral74',
 'Yathecal72',
 'Sisur91',
 'Ennrian78']

In [77]:
Array_User_Purchases = purchase_data_df["Price"]
List_User_Purchases = list(Array_User_Purchases)
List_User_Purchases

[3.53,
 1.56,
 4.88,
 3.27,
 1.44,
 3.61,
 2.18,
 2.67,
 1.1,
 3.58,
 4.74,
 2.67,
 4.18,
 1.7,
 4.86,
 2.89,
 2.52,
 1.76,
 4.9,
 4.64,
 4.6,
 1.48,
 3.81,
 3.4,
 3.19,
 4.23,
 1.61,
 3.09,
 4.32,
 3.16,
 2.94,
 4.48,
 4.09,
 2.38,
 4.4,
 2.05,
 3.15,
 2.05,
 4.18,
 3.14,
 1.56,
 1.33,
 3.77,
 4.18,
 2.73,
 1.66,
 3.44,
 3.97,
 4.74,
 1.44,
 2.18,
 2.96,
 3.54,
 2.84,
 4.35,
 3.79,
 3.53,
 3.39,
 1.74,
 3.03,
 2.38,
 4.23,
 4.23,
 1.0,
 2.92,
 2.22,
 3.7,
 4.74,
 3.3,
 3.16,
 1.56,
 1.98,
 4.23,
 4.32,
 4.64,
 1.29,
 3.75,
 3.27,
 4.6,
 2.96,
 4.86,
 3.47,
 4.4,
 1.02,
 2.22,
 1.16,
 1.54,
 3.4,
 4.9,
 1.7,
 3.54,
 4.23,
 3.94,
 3.75,
 3.09,
 1.63,
 2.92,
 4.5,
 3.19,
 4.19,
 1.02,
 3.47,
 4.76,
 1.33,
 2.05,
 1.79,
 2.5,
 1.71,
 1.75,
 1.16,
 4.94,
 4.75,
 1.33,
 2.94,
 2.85,
 1.41,
 4.94,
 1.79,
 4.4,
 4.43,
 3.81,
 3.26,
 3.47,
 3.61,
 2.85,
 1.87,
 2.42,
 3.44,
 4.14,
 4.18,
 3.08,
 1.87,
 4.58,
 1.28,
 2.48,
 3.1,
 3.03,
 4.48,
 3.58,
 2.45,
 3.93,
 3.54,
 4.48,
 1.29,
 2.18,
 1.33,
 4.09,
 3.81,
 4.03,
 1.76,
 1.28,
 3.03,
 1.44,
 1.63,
 4.23,
 2.89,
 1.79,
 3.53,
 4.89,
 3.94,
 2.38,
 2.49,
 1.66,
 4.24,
 3.09,
 1.09,
 2.21,
 4.8,
 1.75,
 2.28,
 2.42,
 3.44,
 4.24,
 4.08,
 1.94,
 4.35,
 4.8,
 1.4,
 4.6,
 4.23,
 4.74,
 4.66,
 4.4,
 2.96,
 1.14,
 2.85,
 4.0,
 3.65,
 3.75,
 4.99,
 1.98,
 4.43,
 2.89,
 1.87,
 2.05,
 4.07,
 2.73,
 3.16,
 3.74,
 4.74,
 3.82,
 2.48,
 4.9,
 2.49,
 1.28,
 1.75,
 4.4,
 4.58,
 3.03,
 2.67,
 3.58,
 3.08,
 3.08,
 2.48,
 3.39,
 2.52,
 3.58,
 4.35,
 3.15,
 4.6,
 1.33,
 4.48,
 4.23,
 2.62,
 4.8,
 4.4,
 2.5,
 3.81,
 3.39,
 3.77,
 3.44,
 4.94,
 3.82,
 4.4,
 2.5,
 3.45,
 2.18,
 3.55,
 1.75,
 1.02,
 4.9,
 1.79,
 3.94,
 3.33,
 3.16,
 1.75,
 4.94,
 4.9,
 3.39,
 3.55,
 4.43,
 1.99,
 4.88,
 1.06,
 3.49,
 1.61,
 4.03,
 4.48,
 1.75,
 3.77,
 1.03,
 3.19,
 3.14,
 4.4,
 4.32,
 3.14,
 4.07,
 4.75,
 1.61,
 4.65,
 1.75,
 3.07,
 4.09,
 4.88,
 4.9,
 4.93,
 2.73,
 4.88,
 3.61,
 3.45,
 3.55,
 4.32,
 1.01,
 2.73,
 4.91,
 3.45,
 3.74,
 4.08,
 1.77,
 3.33,
 4.93,
 3.45,
 1.03,
 1.79,
 1.79,
 4.84,
 4.24,
 2.18,
 1.44,
 1.63,
 3.58,
 3.41,
 1.7,
 1.61,
 1.66,
 4.48,
 2.37,
 2.05,
 2.89,
 3.97,
 1.79,
 1.61,
 4.93,
 4.03,
 3.16,
 2.18,
 2.96,
 2.49,
 4.17,
 1.94,
 4.0,
 2.17,
 3.16,
 1.44,
 4.4,
 2.5,
 2.5,
 1.7,
 1.74,
 4.58,
 3.61,
 1.33,
 1.76,
 3.82,
 3.65,
 3.46,
 3.85,
 1.7,
 1.41,
 1.29,
 4.75,
 1.61,
 2.37,
 2.96,
 1.02,
 2.48,
 1.6,
 3.65,
 2.37,
 4.23,
 2.22,
 1.6,
 4.05,
 3.47,
 3.45,
 2.94,
 4.74,
 3.16,
 4.18,
 2.05,
 2.61,
 1.02,
 2.18,
 3.85,
 3.75,
 3.54,
 1.55,
 4.74,
 2.49,
 3.39,
 3.85,
 1.01,
 4.82,
 4.35,
 1.75,
 1.66,
 4.23,
 3.65,
 3.09,
 3.27,
 4.6,
 3.33,
 1.63,
 3.65,
 1.44,
 1.98,
 1.54,
 3.94,
 4.91,
 4.8,
 2.42,
 3.27,
 1.66,
 2.5,
 3.54,
 1.74,
 1.44,
 3.27,
 3.09,
 1.56,
 3.77,
 1.33,
 1.54,
 2.67,
 1.61,
 1.03,
 3.27,
 1.44,
 2.05,
 1.94,
 1.71,
 4.19,
 2.27,
 1.97,
 3.53,
 3.08,
 1.41,
 2.89,
 1.0,
 1.79,
 1.54,
 1.12,
 4.4,
 1.79,
 1.75,
 3.27,
 1.14,
 3.97,
 2.61,
 4.48,
 1.63,
 3.14,
 3.08,
 1.77,
 3.79,
 1.97,
 3.39,
 3.54,
 4.58,
 4.23,
 2.42,
 1.77,
 3.79,
 1.75,
 3.81,
 2.85,
 4.32,
 3.08,
 4.32,
 2.22,
 3.45,
 2.85,
 1.14,
 1.03,
 3.26,
 4.35,
 1.29,
 3.87,
 3.07,
 1.54,
 4.35,
 1.48,
 1.94,
 2.48,
 4.23,
 1.7,
 2.6,
 2.28,
 2.21,
 4.03,
 1.7,
 2.85,
 4.65,
 4.35,
 4.58,
 3.7,
 4.35,
 4.93,
 3.45,
 3.54,
 4.23,
 4.48,
 4.0,
 3.53,
 3.94,
 3.49,
 2.05,
 1.97,
 2.38,
 1.14,
 4.03,
 2.18,
 1.56,
 4.94,
 2.49,
 2.5,
 4.05,
 4.84,
 3.53,
 1.71,
 3.27,
 3.4,
 3.55,
 4.23,
 4.9,
 1.44,
 4.35,
 1.98,
 1.33,
 1.79,
 2.67,
 4.82,
 2.18,
 4.35,
 1.1,
 2.52,
 3.45,
 4.91,
 4.4,
 2.94,
 4.76,
 4.6,
 4.9,
 1.1,
 1.33,
 2.0,
 4.09,
 3.44,
 1.02,
 2.62,
 4.08,
 1.56,
 1.1,
 2.48,
 3.1,
 1.01,
 4.19,
 2.6,
 3.19,
 1.79,
 1.33,
 1.76,
 2.18,
 1.6,
 2.49,
 4.4,
 3.08,
 1.4,
 2.42,
 3.1,
 3.54,
 4.4,
 1.01,
 2.48,
 4.99,
 1.33,
 4.82,
 3.93,
 3.53,
 2.22,
 2.48,
 3.45,
 3.33,
 2.62,
 4.84,
 4.48,
 1.55,
 3.44,
 2.28,
 4.43,
 1.98,
 4.86,
 4.58,
 1.77,
 1.44,
 3.39,
 2.22,
 4.91,
 3.74,
 1.02,
 4.23,
 1.79,
 1.02,
 2.96,
 2.04,
 1.75,
 1.01,
 3.19,
 2.96,
 3.41,
 3.19,
 4.07,
 3.97,
 4.91,
 4.64,
 2.27,
 3.1,
 2.27,
 4.89,
 1.41,
 3.07,
 1.97,
 4.24,
 3.19,
 2.22,
 3.08,
 2.28,
 3.39,
 3.33,
 2.52,
 3.08,
 2.84,
 4.84,
 3.08,
 4.24,
 3.77,
 4.4,
 2.52,
 1.09,
 2.27,
 4.76,
 1.12,
 1.54,
 3.82,
 1.98,
 4.09,
 2.42,
 4.23,
 3.61,
 2.18,
 1.79,
 3.39,
 4.4,
 3.39,
 4.35,
 1.7,
 4.4,
 3.45,
 2.18,
 2.27,
 3.53,
 2.96,
 3.92,
 1.97,
 2.18,
 3.82,
 4.18,
 3.87,
 2.85,
 3.46,
 1.76,
 3.33,
 2.42,
 2.05,
 1.02,
 3.27,
 2.04,
 1.02,
 4.23,
 2.94,
 4.35,
 3.54,
 1.28,
 3.77,
 3.58,
 2.05,
 4.9,
 4.4,
 2.52,
 3.85,
 3.08,
 1.74,
 2.85,
 2.07,
 4.0,
 1.94,
 4.89,
 1.14,
 3.53,
 3.74,
 3.09,
 1.06,
 1.4,
 4.58,
 2.18,
 2.22,
 4.93,
 4.4,
 1.98,
 3.15,
 4.32,
 2.6,
 4.4,
 3.75,
 1.63,
 4.89,
 4.43,
 3.26,
 4.14,
 2.07,
 2.94,
 1.79,
 1.02,
 4.4,
 4.74,
 1.09,
 4.23,
 2.37,
 3.46,
 2.42,
 1.71,
 3.49,
 4.88,
 1.33,
 4.35,
 3.93,
 3.41,
 2.08,
 3.27,
 2.45,
 3.08,
 1.77,
 4.88,
 2.08,
 1.94,
 3.77,
 1.1,
 1.93,
 1.97,
 4.18,
 4.23,
 1.02,
 2.5,
 4.4,
 4.86,
 2.5,
 4.14,
 1.75,
 1.6,
 3.87,
 3.92,
 4.58,
 4.08,
 1.44,
 3.49,
 3.16,
 3.08,
 3.1,
 2.27,
 2.05,
 3.61,
 3.36,
 2.6,
 4.23,
 4.05,
 3.15,
 2.05,
 4.6,
 4.03,
 3.77,
 2.38,
 1.7,
 1.44,
 1.75,
 4.07,
 2.07,
 4.14,
 4.88,
 4.88,
 4.58,
 1.02,
 4.35,
 3.58,
 1.02,
 4.19,
 3.54,
 1.63,
 3.46,
 4.19,
 4.6]

In [78]:
#Top_Spenders_df["Purchase Count"] =  for i in purchase_data_df["SN"]
#Top_Spenders_df.head()

In [79]:
Top_Spenders_df = pd.DataFrame(list(zip(list_unique_player_count, List_Purchase_Count)), columns = ["SN", "Purchase Count"])
Top_Spenders_df

                SN  Purchase Count
0          Lisim78               5
1      Lisovynya38               4
2       Ithergue48               4
3    Chamassasya86               3
4        Iskosia90               3
..             ...             ...
571         Hala31               1
572     Jiskjask80               1
573     Aethedru70               1
574     Yathecal72               1
575        Sisur91               1

[576 rows x 2 columns]

In [80]:
Top_Spenders_df["Total Purchase Value"] = ""
Top_Spenders_df["Average Purchase Price"] = ""

#Top_Spenders_df = Top_Spenders_df.set_index("SN")
#Top_Spenders_df

Top_Spenders_df.head()

              SN  Purchase Count Total Purchase Value Average Purchase Price
0        Lisim78               5
1    Lisovynya38               4
2     Ithergue48               4
3  Chamassasya86               3
4      Iskosia90               3

In [81]:
purchase_data_df["Price"].head()

0    3.53
1    1.56
2    4.88
3    3.27
4    1.44
Name: Price, dtype: float64

In [ ]:
#df.loc[df['B'] == 3, 'A'].iloc[0]
#Out[4]: 'p3'

In [89]:
for i in List_SN :
    popped_user = List_SN.pop()
    popped_purchase = List_User_Purchases.pop()

    
    #Top_Spenders_df.update["Total Purchase Value"] = 
    
    #Top_Spenders_df.loc["Total Purchase Value"]#.value()
    #+ popped_purchase'
Top_Spenders_df["Total Purchase Value"]

0
1
2
3
4
      ..
571
572
573
574
575
Name: Total Purchase Value, Length: 576, dtype: object

##